:root {
    --main-color: #fff;
    --primary-color: #1b1b1b;
}
.mainTitle {
    color: #fff;
}
.mainSubtitle {
    color: var(--main-color);
}
.console {
    background-color: #000;
}
.consoleLogs li {
    color: var(--main-color);
}