:root {
    --main-color: #f3fff1 !important;
    --primary-color: #1b1b1b !important;
}
.hambBtn {
    filter: invert(100%);
}
.form input {
    background-color: var(--primary-color) !important;
}
.eyeClose::before {
    filter: invert(100%);
}
.eyeOpen::before {
    filter: invert(100%);
}