{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href=" {% static 'main_pages/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="headerWrap">
            <div class="container">
                <div class="inner">
                    <h2><a href="{% url 'home_page' %}" class="titleHeader">Amadeus</a></h2>
                    <div class="navBtnWrap"><a href="{% url 'course' %}" class="navBtn">Курсы</a><a href="{% url 'ide' %}" class="navBtn">IDE</a></div>
                    <img src=" {% static 'main_pages/img/bars-solid.svg' %}" alt="" class="hambBtn">
                    <div class="accountBtnWrap">
                        {% if user.is_authenticated %}
                        <h4 class="userName">{{ user.username }}</h4>
                        <a class="Btn" href="{% url 'logout' %}">Log Out</a>
                        {% else %}
                        <a href="{% url 'regist_user' %}" class="Btn">Регистрация</a>
                        <a href="{% url 'login' %}" class="Btn">Вход</a>
                        {% endif %}
                        <!-- <a href="{% url 'regist_user' %}" class="Btn">Регистрация</a>
                        <a href="{% url 'login' %}" class="Btn">Вход</a> -->
                    </div>
                </div>
                <hr noshade="true" class="underline">
            </div>
        </header>
        <nav class="hambWrap"><div class="container"><div class="inner" id="hamburgerMenu"></div></div></nav>
        {% block content %}{% endblock %}
        <footer class="footerWrap">
            <div class="container">
                <hr class="underline" noshade="true">
                <div class="inner">
                    <h2><a class="titleHeader">Amadeus</a></h2>
                    <h6 class="footerSubtitle">&copy; </h6>
                </div>
            </div>
        </footer>
    </div>
    {% block ide %}{% endblock %}
    <script src=" {% static 'main_pages/js/script.js' %}"></script>
</body>
</html>