{% extends 'main_pages/base.html' %}

{% load static %}


{% block title %}
IDE
{% endblock %}


{% block content %}
    <main class="mainWrap">
        <div class="courseInner">
            <div class="container">
                <div class="editorContainer" style="width: 100%;">
                    <div class="editorInner">
                        <div id="editor"></div>
                    </div>
                    <div class="ideBtnWrap" >
                        <p class="resultBtn Btn">Code</p>
                        <p class="resetBtn Btn">Reset</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block ide %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js" type ="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ext-language_tools.min.js"></script>
    <script src="{% static 'main_pages/js/ide_script.js' %}"></script>
{% endblock %}