{% extends 'main_pages/base.html' %}

{% load static %}


{% block title %}
IDE
{% endblock %}


{% block content %}
    <main class="mainWrap">
        <div class="courseInner">
            <div class="container">
                <div class="courseText">
                    <h3 class="taskTitle">Инкремент и декремент</h3>
                    <pre class="taskText">
Из языка Си в JavaScript перекочевали две операции: инкремент ++ и декремент --, которые очень часто встречаются вместе с циклами. Эти унарные операции увеличивают и уменьшают на единицу число, записанное в переменную:
<code>let i = 0;
i++; // 0
i++; // 1

i--; // 2
i--; // 1
</code>
Кроме постфиксной формы, у них есть и префиксная:
<code>let i = 0;
++i; // 1
++i; // 2

--i; // 1
--i; // 0
</code>
Кажется, что нет никакой разницы между постфиксной и префиксной формами. Но тут начинаются сложности.

В отличие от всех остальных операций, которые не имеют побочных эффектов и просто возвращают новое значение, инкремент и декремент не только возвращают значение, но и изменяют значение переменной.

При использовании префиксной нотации сначала происходит изменение переменной, а потом возврат.

При использовании постфиксной нотации — наоборот: можно считать, что сначала происходит возврат, а потом изменение переменной.

Правило работает одинаково для инкремента и декремента. Для простоты рассмотрим только инкремент:

<code>let x = 5;

console.log(++x); // => 6
console.log(x);   // => 6

console.log(x++); // => 6
console.log(x);   // => 7
</code> 

Что происходит?

Вывели на экран ++x. Это префиксный инкремент, поэтому сначала значение переменной увеличилось на 1, потом результат вернулся и вывелся на экран.
Так как значение изменилось, console.log(x) вывел 6.
Теперь выводим на экран x++. Это постфиксный инкремент, поэтому возвращено значение, содержавшееся в переменной до её увеличения на 1.
Так как значение изменилось, console.log(x) вывел 7.
Особенно страшным это становится тогда, когда инкремент вставляют внутрь других операций: x = i++ - 7 + --h. Понять такой код почти невозможно, и его написание должно рассматриваться как тяжкое преступление.

Например, в языке JavaScript линтер (программа, проверяющая код) сразу начинает ругаться, когда встречает использование инкремента или декремента.

Рекомендации по использованию:

Никогда не мешайте в рамках одного выражения операции/функции без побочных эффектов с операциями/функциями, обладающими побочными эффектами.
Используйте инкремент и декремент только там, где нет разницы между префиксным и постфиксным вариантом: отдельно от всего, на своей собственной строчке кода.
<span class="taskTitle" >Задание</span>
Напишите функцию makeItFunny(), которая принимает на вход строку и возвращает её копию, у которой каждый n-ный элемент переведен в верхний регистр. n – задается на входе в функцию.

Для определения каждого n-ного элемента понадобится остаток от деления %. Подумайте, как его можно использовать
                    </pre>
                </div>
                <div class="editorContainer">
                    <div class="editorInner">
                        <div id="editor"></div>
                    </div>
                    <div class="ideBtnWrap">
                        <p class="resultBtn">Code</p>
                        <p class="resetBtn">Reset</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block ide %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js" type ="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ext-language_tools.min.js"></script>
    <script src="{% static 'main_pages/js/ide_script.js' %}"></script>
{% endblock %}


<!--  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDE</title>
    <link rel="stylesheet" href="{% static 'main_pages/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="headerWrap">
            <div class="container">
                <div class="inner">
                    <h2><a href='index.html' class="titleHeader">Amadeus</a></h2>
                    <div class="navBtnWrap"><a href="#" class="navBtn">Курсы</a><a href="ide.html" class="navBtn">IDE</a></div>
                    <img src=" {% static 'main_pages/img/bars-solid.svg' %}" alt="" class="hambBtn">
                    <div class="accountBtnWrap">
                        <a href="regist.html" class="Btn">Регистрация</a>
                        <a href="login.html" class="Btn">Вход</a>
                    </div>
                </div>
                <hr noshade="true" class="underline">
            </div>
        </header>
        <nav class="hambWrap"><div class="container"><div class="inner" id="hamburgerMenu"></div></div></nav>
        <div class="editorContainer">
            <div class="editorInner">
                <div id="editor"></div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js" type ="text/javascript" charset="utf-8"></script>
        <script src="{% static 'main_pages/js/ide_script.js' %}"></script>
        <script src="{% static 'main_pages/js/script.js' %}"></script>
    </div>
</body>
</html>
 -->