{% extends 'main_pages/base.html' %}

{% load static %}


{% block title %}
Курсы Amadeus
{% endblock %}


{% block content %}
    <main class="mainWrap">
        <div class="container">
            <div class="mainInner">
                <div class="codeBG" style="background-image: url({% static 'main_pages/img/blackbg.png' %});">
                    <div class="blur">
                        <div class="bannerInner">
                            <h1 class="mainTitle">Доступные курсы по программированию</h1>
                            <h4 class="mainSubtitle">Хобби может легко стать любимой работой</h4>
                        </div>
                    </div>
                </div>
                <h4 class="taskList">Задачи</h4>
                <div class="cardGrid">
                    <div class="card task1">
                        <h5 class="taskTitle">Погружение</h6>
                        <h6 class="taskDesc">Вы когда-нибудь пытались научиться читать, писать или говорить на незнакомом языке? Любое изучение начинается с изучения азов и терпеливого прохождения практики</h6>
                        <a href="task1.html" class="Btn">Решить</a>
                    </div>
                    <div class="card task2">
                        <h5 class="taskTitle">Переменные</h6>
                        <h6 class="taskDesc">Переменные являются неотъемлемой частью программирования. Они используются для хранения данных и информации в программе. Мы можем легко понять концепцию переменной, если представим ее как «коробку» для данных</h6>
                        <a href="" class="Btn">Решить</a>
                    </div>
                    <div class="card task3">
                        <h5 class="taskTitle">Масcивы</h6>
                        <h6 class="taskDesc">Объект Массива, как и массивы в других языках программирования, позволяет хранить коллекцию из нескольких элементов в одной переменной для выполнения общих операций</h6>
                        <a href="" class="Btn">Решить</a>
                    </div>
                    <div class="card task4">
                        <h5 class="taskTitle">Объекты</h6>
                        <h6 class="taskDesc">Объект представляет собой коллекцию пар "ключ - значение", называемых свойствами. Сравните это с ручкой. Ручка - объект со свойствами: цветом, дизаном, весом, производителем</h6>
                        <a href="" class="Btn">Решить</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
