<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курсы Amadeus</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header class="headerWrap">
            <div class="container">
                <div class="inner">
                    <h2><a href='index.html' class="titleHeader">Amadeus</a></h2>
                    <div class="navBtnWrap"><a href="#" class="navBtn">Курсы</a><a href="ide.html" class="navBtn">IDE</a></div>
                    <img src="img\bars-solid.svg" alt="" class="hambBtn">
                    <div class="accountBtnWrap">
                        <a href="regist.html" class="Btn">Регистрация</a>
                        <a href="login.html" class="Btn">Вход</a>
                    </div>
                </div>
                <hr noshade="true" class="underline">
            </div>
        </header>
        <nav class="hambWrap"><div class="container"><div class="inner" id="hamburgerMenu"></div></div></nav>
        <main class="mainWrap">
            <div class="container">
                <div class="codeBG">
                    <div class="blur">
                        <div class="mainInner">
                            <h1 class="mainTitle">Доступные курсы<br>по программированию с нуля</h1>
                            <h4 class="mainSubtitle">Хобби может легко стать любимой работой</h4>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="script.js"></script>
</body>
</html>