{% extends 'main_pages/base.html' %}

{% load static %}

{% block title %}
Авторизация
{% endblock %}


{% block content %}
<main class="mainWrap">
    <div class="container">
        <div class="inner blockForForm">
            <h3 class="subtitle">Вход</h3>
            <form action="{% url 'login' %}" method="post" class="form">
                {% csrf_token %}
                <p>Логин</p>
                {{ form.username }}
                <p>Пароль</p>
                {{ form.password }}
                <input type="submit" value="Авторизация" class="Btn">
            </form>
            <h6 class="changePage">Нет аккаунта? <a href="{% url 'regist_user' %}">Регистрация</a></h6>
        </div>
    </div>
</main>
{% endblock %}

