{% extends 'main_pages/base.html' %}


{% block title %}
    Профиль
{% endblock %}

{{ user.username }}

{% block content %}
<main class="mainWrap">
    <div class="container">
        <div class="inner blockForForm">
            {% if user.is_authenticated %}
            {{ user.username }}
            <p><a class="Btn" href="{% url 'logout' %}">Log Out</a></p>
            {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
